# Python dependencies (if/when you add backend or scripts)

# Terminal commands run
# npm install react-native-elements
# npm install react-native-paper
# npm install tailwindcss
# npm install react-native-vector
# npm install @react-navigation/native
# npm install @react-navigation/native-stack
# npm install @react-navigation/bottom-tabs


# npx expo install react-native-screens react-native-safe-area-context
# npx expo install expo-camera
# npx expo install react-native-reanimated
# npm install lottie-react-native
# npx expo install lottie-ios
# npm install axios
# npm install @react-native-async-storage/async-storage
# npm install native-base
